.bgc-verd-0{
    background-color: #bef756; 
    }
    

.bgc-verd-1{
background-color: #90d435; 
}

.bgc-verd-2{
    background-color: #34931e;
}

.bgc-verd-3{
    background-color: darkgreen;
}

.bgc-verd-4{
    background-color: #02320a;
}


.txc-blanc{
    color:white;
}

.txc-negre{
    color:black;
}

.txc-groc-1{
    color:#ffd000;}

.txc-groc-2{

    color:#ffae00;
}

.txc-groc-3{
    color:#783c35;}

