/*------------------------------
    General CSS Global
------------------------------*/

* {
    box-sizing: border-box;
}

body {
    background-image: url("../imatges/fons.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center bottom;
}

p {
    font-size: 1em;
}

h3{
    font-weight: bold;
}
/*------------------------------
    Navegació (navbar)
------------------------------*/

.navbar-nav a {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-nav a:hover {
    color: white;
    background-color: #02320a;
    font-size: 1.2em;
}

/* Make the navbar sticky at the top */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99; /* Ensures the navbar stays above other content */
}

/* Offset content below the navbar */
body {
    padding-top: 6em; /* Adjust this to match the navbar height */
}


/*------------------------------
    Titulars i Encapçalaments
------------------------------*/

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
    color: #783c35;
}

section .subsection h3,
aside h3 {
    font-weight: bold;
}

/*------------------------------
    Imatges Generals
------------------------------*/

.logo {
    width: 100%;
    height: 100%;
    max-width: 5em;
    max-height: 5em;
}

.fotos_historia,
.fotos_noticia,
.fotos_curiositats {
    width: 100%;
    height: auto;
}

.fotos_historia {
    max-width: 26em;
    max-height: 16em;
    object-fit: cover;
}

.fotos_noticia {
    max-width: 25em;
    max-height: 25em;
    object-fit: cover;
}

.fotos_curiositats {
    max-width: 15em;
    max-height: 10em;
}

img.lego {
    float: left;
    shape-outside: ellipse();
}


/*------------------------------
    Història (Secció)
------------------------------*/

#historia p {
    column-count: 3;
}

@media (max-width: 992px) {
    #historia p {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    #historia p {
        column-count: 1;
    }
}

/*------------------------------
    Carrusel d'Imatges
------------------------------*/

.carousel-item {
    height: 200px;
}

.carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*------------------------------
    Espai d'Articles 
------------------------------*/

#articlespace article {
    height: 100%;
}

#articlespace article h3{
    font-weight: bold;
}




/*------------------------------
    Manual (Botó d'Accés i Aside)
------------------------------*/

.fixed-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
#manbutn {
    text-align: center;
    width: 5rem;
    height: 5rem;
    font-weight: bold;
    justify-content: center;
}

#manbutn i {
    font-size: 2rem;
}

#manbutn:hover{
    background-color: #34931e;
    color:#ffd000;
}


aside {
    right: 0px;
   
}

aside .show {
    width: 250px;
}

@media (max-width: 992px) {
    aside {
        top:0px;
        max-height: 100vh; /* Use 80% of the viewport height */
        overflow-y: auto; /* Adds vertical scrolling */
        position: fixed; /* Keeps the element within the normal document flow */
   
        z-index: 999;
    }
}

aside h2 {
    text-align: center;
}


/*------------------------------
    Peu de Pàgina (Footer)
------------------------------*/

footer {
    text-align: center;
}
