body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

header{
    background-color:   darkgreen;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:rgb(162, 255, 188);
 }

#historia p{
    column-count: 3;
}

#cos{
    margin: 0px auto;
    justify-content: center;
    display:flex
}

section .subsection{
    background-color: rgb(48, 136, 48); 
}

main{ 
    width: 50%;
    padding: 1%;
    padding-left: 3%;
    background-color: rgb(120, 187, 120);
}

aside{
    background-color: rgb(48, 136, 48); 
    width:20%;
    padding:1%
}

aside h2{
    margin: auto 10px
}
 ul{
    display: inline-flex
 }

 li{
    margin: 20px
 }

 a{
    color:rgb(162, 255, 188);
    text-decoration: none;
    
 }

.p5js {
    display: inline-flex;
    width:100%;
    background-color:rgb(48, 136, 48);
    margin:auto
}

.p5Canvas{
    margin: 20px;
}

#eu, #dav {
    width: 50%;
    margin: 20px;   
  }

.p5js h4{
    margin: 10px
}