body {
    text-align: center;
}

.p5js {
    display: inline-flex;
    width:80%;
    background-color:gray;
    margin:auto
}

.p5Canvas{
    margin: 20px;
}

#eu, #dav {
    width: 50%;
    margin: 20px;   
  }

.p5js h4{
    margin: 10px
}