nav{
    background-color:   darkgreen;
}

#brand{
    display: flex;
    align-items: center;
}

nav h1, nav a{
    color:rgb(162, 255, 188);
}

h1{
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

main {
    background-color: rgb(116, 221, 116);
}

.logo{
    width: 5em;
    height: 5em;
}

.fotos_historia{
    width: 100%; 
    height: auto;
    max-width: 20em;
    max-height: 15em; 
    object-fit: cover;
}

aside{
    position: fixed;
    right: 0px;
    height: 100vh
}

aside, #descobriments article{
    background-color: rgb(48, 136, 48); 
}

aside h2{
    color:white;
    text-align: center;
}

#historia p{
    column-count: 3;
}


section .subsection{
    background-color: rgb(48, 136, 48); 
    color:rgb(162, 255, 188);
}

.fixed-top-btn {
    position: fixed; /* Make the button fixed in the viewport */
    bottom: 20px;    /* Distance from the bottom of the viewport */
    right: 20px;     /* Distance from the right of the viewport */
    z-index: 9999;   /* Ensure it stays on top of other elements */
}



 #articlepsace {
    color:white;
}